###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Docker
_docker/data/
!_docker/data/.gitkeep

# API
api/data/
api/var/
api/vendor/

# Excludes
